.brand-logo{
	font-size: 2.3em;
	position: relative;
	bottom: -38px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
}

#add-artisan{
	padding-top: 110px;
	padding-left: 30px;
}

.brand-logo:hover{
	color: #FFFFFF;
}
.pull-right{
	float: right !important;
}

.navbar-form.navbar-left{
	position: relative;
	bottom: -27px;
}

input.form-control.search-box{
	width: 300px;
	background-color: #000000;
	height: 33px;
	box-shadow: none;
	border-style: none;
}

.search-btn{
	height: 33px;
	position: absolute;
	margin-left: 0;
}

.glyphicon.glyphicon-search{
	color: #7b7c7e;
	border-style: none;
	box-shadow: none;

}

.no-artisans{
	text-transform: none;
}

.footer {
	background: #293034 !important;
      height: 60px;
	  border-top: 1px solid #3D474C;
	  color: #69767F;
	  font-family: 'Open Sans', sans-serif;
}

.footer a { font-size: 11px; color: #69767F;}
.footer .container {padding-top: 10px;}
.footer .nav > li > a:hover,
.footer .nav > li > a:focus {
	  background-color: #374246;
	  text-decoration: none;
}
.footer .copyright { font-size: 11px; color: #69767F; padding-top: 10px;}


/* MEDIA QUERIES */
@media screen and (max-width: 768px){
	.col-sm-4.col-lg-4.col-md-4.top20.img-gallery{
		width: 100% !important;
	}
}