{% extends 'base.html' %}
{% load static %}

{% block home %}

    <!-- showcase start -->
  		<div class="row showcase">

        <!--
		#################################
			- REVOLUTION SLIDER START -
		#################################
		-->

			<div id="rev_slider_20_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="image-hero20" style="margin:0px auto;background-color:transparent;padding:0;margin-top:0;margin-bottom:0;">
				<!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
					<div id="rev_slider_20_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
						<ul>	<!-- SLIDE  -->
							<li data-index="rs-68" data-transition="zoomout" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="images/home-portfolio-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Intro" data-description="">
								<!-- MAIN IMAGE -->
								<img src="{% static 'images/bg/slid2.jpg' %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->

								<!-- LAYER NR. 1 -->
								<div class="tp-caption tp-shape tp-shapewrapper   rs-parallaxlevel-0"
									 id="slide-68-layer-10"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
												data-width="full"
									data-height="full"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"

									 data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
									 data-transform_out="s:300;s:300;"
									data-start="750"
									data-basealign="slide"
									data-responsive_offset="on"
									data-responsive="off"

									style="z-index: 5;background-color:rgba(0, 0, 0, 0.40);border-color:rgba(0, 0, 0, 0.50);">
								</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption NotGeneric-Icon   tp-resizeme rs-parallaxlevel-0"
									 id="slide-68-layer-8"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-66','-68','-78','-78']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
										data-style_hover="cursor:default;"

									 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;"
									 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
									 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
									data-start="1000"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"


									style="z-index: 6; white-space: nowrap;"><i class="pe-7s-paper-plane"></i>
								</div>

								<!-- LAYER NR. 3 -->
								<div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0"
									 id="slide-68-layer-1"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-22','-29']"
												data-fontsize="['70','70','70','50']"
									data-lineheight="['70','70','70','50']"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"

									 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
									 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-mask_in="x:0px;y:0px;"
									 data-mask_out="x:inherit;y:inherit;"
									data-start="1000"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"


									style="z-index: 7; white-space: nowrap;">HANDMADE CRAFTS
								</div>

								<!-- LAYER NR. 4 -->
								<div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0"
									 id="slide-68-layer-4"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['52','52','28','13']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"

									 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;"
									 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
									 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
									data-start="1000"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"


									style="z-index: 8; white-space: nowrap;">PASSION MIXED WITH CREATIVITY
								</div>

								<!-- LAYER NR. 5 -->
								<div class="tp-caption NotGeneric-CallToAction rev-btn  rs-parallaxlevel-0"
									 id="slide-68-layer-7"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['124','124','80','65']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
										data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
										data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"

									 data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
									 data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
									data-start="1250"
									data-splitin="none"
									data-splitout="none"
									data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
									data-responsive_offset="on"
									data-responsive="off"

									style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">OUR PORTFOLIO
								</div>
							</li>
						</ul>
						<div class="tp-static-layers"></div>
						<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
					</div>
				</div><!-- END REVOLUTION SLIDER -->
				<script type="text/javascript">
					let tpj=jQuery;
					let revapi20;
					tpj(document).ready(function() {
						if(tpj("#rev_slider_20_1").revolution == undefined){
							revslider_showDoubleJqueryError("#rev_slider_20_1");
						}else{
							revapi20 = tpj("#rev_slider_20_1").show().revolution({
								sliderType:"hero",
								jsFileLocation:"revolution/js/",
								sliderLayout:"fullscreen",
								dottedOverlay:"none",
								delay:9000,
								navigation: {
								},
								responsiveLevels:[1240,1024,778,480],
								gridwidth:[1240,1024,778,480],
								gridheight:[600,500,400,300],
								lazyType:"none",
								parallax: {
									type:"mouse",
									origo:"slidercenter",
									speed:2000,
									levels:[2,3,4,5,6,7,12,16,10,50],
								},
								shadow:0,
								spinner:"off",
								autoHeight:"off",
								disableProgressBar:"on",
								hideThumbsOnMobile:"off",
								hideSliderAtLimit:0,
								hideCaptionAtLimit:0,
								hideAllCaptionAtLilmit:0,
								debugMode:false,
								fallbacks: {
									simplifyAll:"off",
									disableFocusListener:false,
								}
							});
						}
					});	/*ready*/
				</script>

        <!--
        #################################
            - REVOLUTION SLIDER END -
        #################################
        -->


  		</div>
 	<!-- showcase end -->

    <!-- Start Content Block 1-5 v2 -->
	<section class="content-1-5 content-block bg-brown padding-top80">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-1 col-md-6 col-sm-12 pull-right border-left wow fadeInRight">
              <h4 class="silver">Artisan Island extensively promotes distinctively high-quality handmade crafts. Our collections are purposely sourced to ensure you get the best.</h4>
            <p class="white">Our collections include finished lathered seats, home decors, wood works, wall arts, etc, all beautifully crafted to meet your taste.</p>
          </div>
          <div class="col-lg-5 col-md-6 col-sm-12 pull-left text-right wow fadeInLeft"> <h1 class="white font-size-h1"><strong>PROFESSIONAL</strong> CREATIVE SERVICES</h1> </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->

    </section>
    <!-- // End Content Block 1-5 v2 -->

    <!-- Start Portfolio  -->
    <div class="row padding-bottom60">

                    <!-- Filtrable Image Gallery Portfolio Start -->


                    <!-- THE FILTER STYLED FOR MEGAFOLIO -->

                        <div class="filter_padder" >
                            <div class="filter_wrapper" style="max-width:540px;">
                                <div class="filter selected" data-category="cat-all">DECORS</div>
                                <div class="filter" data-category="cat-one">WALLARTS</div>
                                <div class="filter" data-category="cat-two">WOODWORKS</div>
                                <div class="filter" data-category="cat-three">SCULPTURES</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>


                    <div class="container-megafolio-fullwidth">


                        <!-- The GRID System -->
                        <div class="megafolio-container light-bg-entries">

                                <!-- ONE ENTRY IN THE GALLERY -->
                                <div class="mega-entry cat-two cat-all" data-src="{% static 'images/col-section/painting.jpg' %}" data-width="577" data-height="500">
                                        <div class="mega-hover">
                                                <div class="mega-hovertitle">DESIGN<div class="mega-hoversubtitle">PAINTING</div></div>
                                                <div class="mega-hoverlink"></div>
                                                <a class="fancybox" data-fancybox-group="group" href="{% static 'images/col-section/painting.jpg' %}"><div class="mega-hoverview"></div></a>

                                        </div>
                                </div>

                                <!-- ONE ENTRY IN THE GALLERY -->
                                <div class="mega-entry cat-one cat-all" data-src="{% static 'images/col-section/home-decor-1.jpeg' %}" data-width="667" data-height="500">
                                    <div class="mega-hover">
                                                <div class="mega-hovertitle">FURNITURE<div class="mega-hoversubtitle">SMALL TABLE</div></div>

                                                <div class="mega-hoverlink"></div>
                                                <a class="fancybox" data-fancybox-group="group" href="{% static 'images/col-section/home-decor-1.jpeg' %}"><div class="mega-hoverview"></div></a>
                                        </div>
                                </div>

                                <!-- ONE ENTRY IN THE GALLERY -->
                                <div class="mega-entry cat-three cat-all" data-src="{% static 'images/col-section/wall-arts-2.jpeg' %}" data-width="625" data-height="500">
                                    <div class="mega-hover">
                                                <div class="mega-hovertitle">WALLARTS<div class="mega-hoversubtitle">WALL ARTS</div></div>

                                                <div class="mega-hoverlink"></div>
                                                <a class="fancybox" data-fancybox-group="group" href="{% static 'images/col-section/wall-arts-2.jpeg' %}"><div class="mega-hoverview"></div></a>
                                        </div>
                                </div>

                                <!-- ONE ENTRY IN THE GALLERY -->
                                <div class="mega-entry cat-four cat-all" data-src="{% static 'images/col-section/close-up-crown.jpeg' %}" data-width="500" data-height="500">
                                    <div class="mega-hover notitle">
                                                <div class="mega-hoverlink"></div>
                                                <a class="fancybox" data-fancybox-group="group" href="{% static 'images/col-section/close-up-crown.jpeg' %}"><div class="mega-hoverview"></div></a>
                                        </div>

                                        <div class="fatcaption-top">FINE ART PROJECT</div>
                                </div>

                                <!-- ONE ENTRY IN THE GALLERY -->
                                <div class="mega-entry cat-one cat-all" data-src="{% static 'images/col-section/crafting-1.jpeg' %}" data-width="551" data-height="500">
                                    <div class="mega-hover alone">
                                                <div class="mega-hovertitle">HANDMADE CRAFT<div class="mega-hoversubtitle">CRAFT WORKS</div></div>

                                                <a class="fancybox" data-fancybox-group="group" href="{% static 'images/col-section/crafting-1.jpeg' %}"><div class="mega-hoverview"></div></a>
                                        </div>
                                </div>

                                <!-- ONE ENTRY IN THE GALLERY -->
                                <div class="mega-entry cat-two cat-all" data-src="{% static 'images/col-section/coffee-cup-books-home.jpg' %}" data-width="594" data-height="50">
                                    <div class="mega-hover">
                                                <div class="mega-hovertitle">DECOR<div class="mega-hoversubtitle">BOOKS BASKET</div></div>

                                                <div class="mega-hoverlink"></div>
                                                <a class="fancybox" data-fancybox-group="group" href="{% static 'images/col-section/coffee-cup-books-home.jpg' %}"><div class="mega-hoverview"></div></a>
                                        </div>
                                </div>

                                <!-- ONE ENTRY IN THE GALLERY -->
                                <div class="mega-entry cat-three cat-all" data-src="{% static 'images/col-section/bracelets.jpeg' %}" data-width="512" data-height="500">
                                    <div class="mega-hover notitle">
                                                <div class="mega-hoverlink"></div>
                                                <a class="fancybox" data-fancybox-group="group" href="{% static 'images/col-section/bracelets.jpeg' %}"><div class="mega-hoverview"></div></a>
                                        </div>

                                        <div class="fatcaption-bottom">INTUITIVE</div>
                                </div>

                                <!-- ONE ENTRY IN THE GALLERY -->
                                <div class="mega-entry cat-four cat-all" data-src="{% static 'images/collections/5-Piece-lion-Modern-Home-Wall-Decor-Canvas-Picture-Art-HD-Print-WALL-Painting-Set-of.jpg_640x640.jpg' %}" data-width="612" data-height="500">
                                    <div class="mega-hover">
                                                <div class="mega-hovertitle">MOBILE OPTIMIZED<div class="mega-hoversubtitle">CATEGORY FOUR</div></div>

                                                <div class="mega-hoverlink"></div>
                                                <a class="fancybox" data-fancybox-group="group" href="{% static 'images/collections/5-Piece-lion-Modern-Home-Wall-Decor-Canvas-Picture-Art-HD-Print-WALL-Painting-Set-of.jpg_640x640.jpg' %}"><div class="mega-hoverview"></div></a>
                                        </div>
                                </div>

                                <!-- ONE ENTRY IN THE GALLERY -->
                                <div class="mega-entry cat-two cat-all" data-src="{% static 'images/collections/40-Beautiful-Wall-Art-Inspiration_homesthetics.net-13.jpg' %}" data-width="615" data-height="500">
                                    <div class="mega-hover">
                                                <div class="mega-hovertitle">CAR VINTAGE RACING<div class="mega-hoversubtitle">CATEGORY TWO</div></div>

                                                <div class="mega-hoverlink"></div>
                                                <a class="fancybox" data-fancybox-group="group" href="{% static 'images/collections/40-Beautiful-Wall-Art-Inspiration_homesthetics.net-13.jpg' %}"><div class="mega-hoverview"></div></a>
                                        </div>
                                </div>

                                <!-- ONE ENTRY IN THE GALLERY -->
                                <div class="mega-entry cat-three cat-all" data-src="{% static 'images/collections/Wall-Stencil-Decoration-Ideas.jpg' %}" data-width="577" data-height="500">
                                        <div class="mega-hover">
                                                <div class="mega-hovertitle">PRETTY SAILBOAT<div class="mega-hoversubtitle">CATEGORY THREE</div></div>
                                                <div class="mega-hoverlink"></div>
                                                <a class="fancybox" data-fancybox-group="group" href="{% static 'images/collections/Wall-Stencil-Decoration-Ideas.jpg' %}"><div class="mega-hoverview"></div></a>

                                        </div>
                                </div>

                                <!-- ONE ENTRY IN THE GALLERY -->
                                <div class="mega-entry cat-four cat-all" data-src="{% static 'images/bg/slid1.jpg' %}" data-width="667" data-height="500">
                                    <div class="mega-hover">
                                                <div class="mega-hovertitle">LIVING SUGAR<div class="mega-hoversubtitle">CATEGORY FOUR</div></div>

                                                <div class="mega-hoverlink"></div>
                                                <a class="fancybox" data-fancybox-group="group" href="{% static 'images/bg/slid1.jpg' %}"><div class="mega-hoverview"></div></a>
                                        </div>
                                </div>

                                <!-- ONE ENTRY IN THE GALLERY -->
                                <div class="mega-entry cat-one cat-all" data-src="{% static 'images/bg/slid3.jpg' %}" data-width="625" data-height="500">
                                    <div class="mega-hover">
                                                <div class="mega-hovertitle">LITTLE TOWN<div class="mega-hoversubtitle">CATEGORY ONE</div></div>

                                                <div class="mega-hoverlink"></div>
                                                <a class="fancybox" data-fancybox-group="group" href="{% static 'images/bg/slid3.jpg' %}"><div class="mega-hoverview"></div></a>
                                        </div>
                                </div>

                                <!-- ONE ENTRY IN THE GALLERY -->
                                <div class="mega-entry cat-two cat-all" data-src="{% static 'images/col-section/art-artisan-artist-162574.jpg' %}" data-width="500" data-height="500">
                                    <div class="mega-hover notitle">
                                                <div class="mega-hoverlink"></div>
                                                <a class="fancybox" data-fancybox-group="group" href="{% static 'images/col-section/art-artisan-artist-162574.jpg' %}"><div class="mega-hoverview"></div></a>
                                        </div>

                                        <div class="fatcaption-top">POTTERY</div>
                                </div>

                                <!-- ONE ENTRY IN THE GALLERY -->
                                <div class="mega-entry cat-four cat-all" data-src="{% static 'images/col-section/HK2-image-1.png' %}" data-width="551" data-height="500">
                                    <div class="mega-hover alone">
                                                <div class="mega-hovertitle">SEAFOOD RESTAURANT<div class="mega-hoversubtitle">CATEGORY FOUR</div></div>

                                                <a class="fancybox" data-fancybox-group="group" href="{% static 'images/col-section/HK2-image-1.png' %}"><div class="mega-hoverview"></div></a>
                                        </div>
                                </div>

                                <!-- ONE ENTRY IN THE GALLERY -->
                                <div class="mega-entry cat-three cat-all" data-src="{% static 'images/col-section/crafts-slide.jpg' %}" data-width="594" data-height="50">
                                    <div class="mega-hover">
                                                <div class="mega-hovertitle">COLORED PENCILS<div class="mega-hoversubtitle">CATEGORY THREE</div></div>

                                                <div class="mega-hoverlink"></div>
                                                <a class="fancybox" data-fancybox-group="group" href="{% static 'images/col-section/crafts-slide.jpg' %}"><div class="mega-hoverview"></div></a>
                                        </div>
                                </div>

                                <!-- ONE ENTRY IN THE GALLERY -->
                                <div class="mega-entry cat-one cat-all" data-src="{% static 'images/col-section/adult-art-artisan-320577.jpg' %}" data-width="512" data-height="500">
                                    <div class="mega-hover notitle">
                                                <div class="mega-hoverlink"></div>
                                                <a class="fancybox" data-fancybox-group="group" href="{% static 'images/col-section/adult-art-artisan-320577.jpg' %}"><div class="mega-hoverview"></div></a>
                                        </div>

                                        <div class="fatcaption-bottom">CREATIVE WORKS</div>
                                </div>

                                <!-- ONE ENTRY IN THE GALLERY -->
                                <div class="mega-entry cat-two cat-all" data-src="{% static 'images/col-section/adult-artisan-business-1094767.jpg' %}" data-width="612" data-height="500">
                                    <div class="mega-hover">
                                                <div class="mega-hovertitle">MOBILE OPTIMIZED<div class="mega-hoversubtitle">WOOD WORK</div></div>

                                                <div class="mega-hoverlink"></div>
                                                <a class="fancybox" data-fancybox-group="group" href="{% static 'images/col-section/adult-artisan-business-1094767.jpg' %}"><div class="mega-hoverview"></div></a>
                                        </div>
                                </div>

                                <!-- ONE ENTRY IN THE GALLERY -->
                                <div class="mega-entry cat-four cat-all" data-src="{% static 'images/col-section/artist-ceramics-creative-22824.jpg' %}" data-width="615" data-height="500">
                                    <div class="mega-hover">
                                                <div class="mega-hovertitle">CAR VINTAGE RACING<div class="mega-hoversubtitle">CATEGORY FOUR</div></div>

                                                <div class="mega-hoverlink"></div>
                                                <a class="fancybox" data-fancybox-group="group" href="{% static 'images/col-section/artist-ceramics-creative-22824.jpg' %}"><div class="mega-hoverview"></div></a>
                                        </div>
                                </div>

                        </div>
            </div>
            <div class="divide20 top50"></div>

            <div class="addmore pad_wrap">Explore More Items</div>

            <div class="divide90"></div>


                    <!-- Filtrable Image Gallery Portfolio End -->

           </div>
    <!--// END Portfolio -->

    <!--
############################################################
 - Megafolio Filtrable Image Gallery Style Start -
############################################################
-->
			<script type="text/javascript">


				jQuery(document).ready(function() {

					var api=jQuery('.megafolio-container').megafoliopro(
						{
							filterChangeAnimation:"fade",			// fade, rotate, scale, rotatescale, pagetop, pagebottom,pagemiddle
							filterChangeSpeed:600,					// Speed of Transition
							filterChangeRotate:99,					// If you ue scalerotate or rotate you can set the rotation (99 = random !!)
							filterChangeScale:0.6,					// Scale Animation Endparameter
							delay:20,
							defaultWidth:980,
							paddingHorizontal:0,
							paddingVertical:0,
							layoutarray:[0]		// Defines the Layout Types which can be used in the Gallery. 2-9 or "random". You can define more than one, like {5,2,6,4} where the first items will be orderd in layout 5, the next comming items in layout 2, the next comming items in layout 6 etc... You can use also simple {9} then all item ordered in Layout 9 type.

						});


					// INITIALISATION OF THE FANCY BOX (LIVE BOX)
					jQuery(".fancybox").fancybox();


					// THE FILTER FUNCTION
					jQuery('.filter').click(function() {
						jQuery('.filter').each(function() { jQuery(this).removeClass("selected")});
						api.megafilter(jQuery(this).data('category'));
						jQuery(this).addClass("selected");
						jQuery('body').find('ul.filter_list').slideUp(500).addClass("closed");
						jQuery('body').find('.current-filter').html(jQuery(this).text());
					});


					// DROP DOWN LIST OPEN AND CLOSE
					jQuery('.filter_list_button').click(function() {
						var ul=jQuery('body').find('ul.filter_list');
						if (ul.hasClass('closed')) {
							ul.slideDown(500);
							ul.removeClass('closed');
						} else {
							ul.slideUp(500);
							ul.addClass('closed');
						}
					});


					// THE REMIX OF GALLERY IF ONE OF THE OTHER GRID HAS BEED SELECTED
					jQuery('.order').click(function()  {
						jQuery('.order').each(function() { jQuery(this).removeClass("selected")});
						api.megaremix(jQuery(this).data('order'));
						jQuery(this).addClass("selected");

					});


					// IF ANIMATION HAS BEED CHANGED, THE BASIC ANIMATION STYLE SHOULD BE CHANGED
					jQuery('.animb').click(function()  {
						var speed=jQuery('#tp-speed').val();
						var rotate=jQuery('#tp-rotate').val();
						var scale=jQuery('#tp-scale').val();
						jQuery('.animb').each(function() { jQuery(this).removeClass("selected")});
						api.megaanimchange(jQuery(this).data('ant'),speed,rotate,scale);
						jQuery(this).addClass("selected");
					});


					// PADDING CHANGER, THE GALLERY WILL BE REMIXED IN CASE THE PADDING HAS BEEN CHANGED
					jQuery(".pad").change(function() {
						var mc = jQuery('.megafolio-container');
						mc.data('paddingh',jQuery("#ph").val());
						mc.data('paddingv',jQuery("#pv").val());
						api.megaremix(api.megagetcurrentorder());
					});


					// OPEN CLOSE THE OPTION PARTS IN THE HEADER
					jQuery(".opener").click(function() {
						var op=jQuery(this);
						if (op.hasClass('active'))	{
							op.removeClass('active');
							jQuery('.switcher').slideUp(600);
							jQuery('.megatitle').slideDown(600);
							jQuery('.givetry').slideDown(600);
						} else {
							op.addClass('active');
							jQuery('.switcher').slideDown(600);
							jQuery('.megatitle').slideUp(600);
							jQuery('.givetry').slideUp(600);
						}
					})


					// CHANGE THE BACKGROUND IMAGES
					jQuery('.bgch').click(function() {
						var oldbg=jQuery('.bgch.selected');
						var newbg=jQuery(this);
						jQuery('.bgdiv').removeClass(oldbg.data('bg'));
						jQuery('.bgdiv').addClass(newbg.data('bg'));
						oldbg.removeClass("selected");
						newbg.addClass("selected");

					})

					// ADD MORE ITEMS TO THE GALLERY
				   jQuery('.addmore').click(function() {
						for (var i=0;i<Math.round(Math.random()*4+1);i++) {
							var newentry=createEntry();
							api.megaappendentry(newentry);
						}
					})





					/***********************************************
						- 	CREATE RANDOM ENTRIES FOR PREVIEW
								THIS IS ONLY AN EXAMPLE -
					************************************************/
					function createEntry() {
						// RANDOM CATEGORIE
						var cnu = Math.round(Math.random()*5+1);
						var cat ="one";
						if (cnu==1) cat="one";
						else
						if (cnu==2) cat="two";
						else
						if (cnu==3) cat="three";
						else
						cat=="four";

						var imgsrc=Math.round(Math.random()*8+1);
						var  newentry='<div class="mega-entry  cat-'+cat+' cat-all"  id="mega-entry-'+Math.round(Math.random()*1500+1000)+'" data-src="images/image'+imgsrc+'.jpg" data-width="577" data-height="500">'+
							             '<div class="mega-hover">'+
    										 '<div class="mega-hovertitle">CAR VINTAGE RACING<div class="mega-hoversubtitle">CATEGORY FOUR</div></div>'+
    										 '<div class="mega-hoverlink"></div>'+
    										 '<a class="fancybox" data-fancybox-group="group" href="images/image'+imgsrc+'.jpg"><div class="mega-hoverview"></div></a>'+
										 '</div>'+
								    '</div>';

						return newentry;
					}

				});

			</script>

<!--
############################################################
 - Megafolio Filtrable Image Gallery Style End -
############################################################
-->

{% endblock %}